<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157204118379-dra87udg61ed0i3pc75bape59qlpk3ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157204118379-dra87udg61ed0i3pc75bape59qlpk3ut</string>
	<key>API_KEY</key>
	<string>AIzaSyDOiaXj-n3VWMO8iMN_EsMuJ6yk5yGkeH8</string>
	<key>GCM_SENDER_ID</key>
	<string>157204118379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MixMatch.Music</string>
	<key>PROJECT_ID</key>
	<string>mixmatch-f0e45</string>
	<key>STORAGE_BUCKET</key>
	<string>mixmatch-f0e45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:157204118379:ios:b2112ce3f900aad62f2a2e</string>
</dict>
</plist>
